#weekly {
    background: blue;
    color: white;
    margin: 10px;
    text-align: center;
}

#weekly-forecast {
    display: flex;
    flex-wrap: nowrap;
}

#form-group {
    display: flex;
    flex-wrap: nowrap;
}

#submit-city {
    background: rgb(138, 138, 212);
}
