#weekly {
    background: blue;
    color: white;
    margin: 10px;
    text-align: center;
}

#weekly-forecast {
    display: flex;
    flex-wrap: nowrap;
}

#form-group {
    display: flex;
    flex-wrap: nowrap;
}

#submit-city {
    background: rgb(138, 138, 212);
}

#uv-index {
    color: whitesmoke;
    width: 6%;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
}

#uv-paragraph{
    display: inline-block;
    margin-right: 5px;
}